html, body {
    height: 100%;
    position: relative;
    background: #e2e1e0;
}

* {
    margin: 0px;
    padding: 0px;
}

td, th {
    padding: 15px;
}

form.main {
    padding: 20px;
}

a.add-record {
    margin: 20px;
}