main {
    padding: 0;
    margin: 0;
}

#container {
    margin: 10px auto 20px auto;
    padding: 20px;
}

#header-image {
    width: 100%;
    height: 20em;
    background-image: url(../header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-icon {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.clear {
    overflow: auto;
}

nav {
    background: #fe4362;
}

.button-submit {
    background-color: #fe4362;
}

#nav-inner {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

main {
    padding: 20px 0px 20px 0px;
}

@media screen
and (max-width: 1044px) {
    main {
        padding: 20px;
    }
}

.dropdown-arrow {
    margin-top: 3px;
    margin-left: 2px !important;
}

h1, h2, h3 {
    color: #fe4362 !important;
    font-size: 1.4rem;
    font-weight: 800;
}

.preset-list {
    margin: 0 -10px 0 -10px;
}

.preset-list .col {
    padding: 10px;
}

.preset-list .col div.preset-content {
    background-color: #fc9d9b;
}

.preset-list .col div.preset-content img {
    max-width: 100%;
    height: auto;
    display: block;
}

#shop > .col {
    padding: 0px;
}

.custom-preview-container {
    background: #ffeead;
    padding: 20px !important;
    display: none;
    margin-bottom: 0px !important;
}

.custom-image-preview {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#custom-total {
    color: #fe4362;
    font-weight: 800;
}

.place-custom-order-submit {
    margin-right: 10px;
}